body{
    background-image: url(../img/fon.png);
    background-position: center;
    background-size: cover ;
}
article{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}
.title{
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
}
p{
  font-size: 1.5rem
}
img{
    width: 120%;
}
