:root{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    --main-color: rgb(92, 33, 147);
    --button-color: rgba(246, 239, 199, 0.868);
    --h1-color: rgb(237, 233, 209) ;
    --h2-color: #280658;
    --border-color: rgba(0, 0, 0, 0.125);
}
#logo {
  width: 30px;
  margin-left: 1rem;
}
.logo {
  display: flex;
}
h1 {
  color: var(--h1-color);
  margin-left: 1rem;
}
.menu {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
  align-items: center;
}
.all-robors {
  background-image: url(../img/fon.png);
  background-position: center;
  background-size: cover;
}
article {
  margin: 1.4rem;
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
}
h2 {
  color: var(--h2-color);
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
img {
  width: 150px;

}
.button {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
button{
  color: var(--main-color) ;
  background-color: var(--button-color);
  border-color: var(--border-color);
}
p {
  margin-left: 1rem;
}
a {
  font-size: 1.2rem;
  color: var(--h1-color);
  margin-right: 2rem;
}

@media (min-width: 1200px) {
  article {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin: 2.5%;
  }
  p {
    margin-top: 2rem;
  }
  .button{
    margin-right: 2rem;
  }
  button{
    margin-top: 3.3rem;
    margin-bottom: 3.3rem;
    margin-left: 1rem;
    margin-right: 1rem ;
  }
}
